<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
        <style>
        .error {
            margin-left: 20px;
            color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <form action="" class="col-md-4 col-sm-offset-4">
            {% csrf_token %}
            <h1 style="text-align: center">修改密码</h1>
                <hr>
            <div class="form-group">
                <label for="old_password">旧密码</label>
                <input type="text" id="old_password" class="form-control">
            </div>
            <div class="form-group">
                <label for="new_password">新密码</label>
                <input type="password" id="new_password" class="form-control">
            </div>
            <div class="form-group">
                <label for="renew_password">确认新密码</label>
                <input type="password" id="renew_password" class="form-control">
            </div>
            <div class="form-group">
                <input type="button" value="确认修改" class="btn btn-primary " id="btn"><span class="error"></span>
            </div>
        </form>
    </div>
</div>

</body>
<script src="/static/JS/jquery-3.3.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script>

    //清楚错误信息
    $(".form-group input").focus(function () {
        $(".error").text("")
    })

    $("#btn").click(function () {
        $.ajax({
            url:"/change_password/",
            type:"post",
            data:{"old_password":$("#old_password").val(),
            "new_password":$("#new_password").val(),
            "renew_password":$("#renew_password").val(),"csrfmiddlewaretoken":"{{ csrf_token }}"},
            success:function (data) {
                if (data.status==100){
                    alert(data.msg);
                    location.href="/login/"
                }else {
                    $(".error").text(data.msg)
                }

            }
        })
    })
</script>
</html>